params {
    mpn_profiles = false
    db = false
    output_directory = false
    min_vcov = 5
    clade_min_n_hcov = 5000
    clade_min_samples = 2
    marker_trunc_len = 20
    global_pos_min_n_vcov = 2
    sample_pos_min_n_vcov = 5
    sample_var_min_f_vcov = 0.1
    aln_pair_min_overlap = 5000
    aln_pair_min_similarity = 0.999
}